# Server Configuration
SERVER_PROTOCOL=http
SERVER_HOST=localhost
SERVER_PORT=3000

# MySQL Configuration
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=atduel

# Register Configuration
REGISTER_RATING_LOWER_LIMIT=1000 # 注册所需的最低 Rating

# Content Configuration
CONTENT_PEOPLE_LIMIT=3 # 每个比赛的最大人数
CONTENT_PROBLEM_COUNT_LOWER_LIMIT=1 # 每个比赛的最少题目数量
CONTENT_PROBLEM_COUNT_UPPER_LIMIT=10 # 每个比赛的最多题目数量
CONTENT_TIME_LIMIT=86400 # 每个比赛的时间限制（秒）

# Logging
LOG_LEVEL=info
